---
import "@/styles/global.css";

import { Card, CardHeader } from "@/components/ui/card";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Secrets Keeper</title>
  </head>
  <body>
    <main class="flex flex-col gap-4 items-center">
      <Card className="mt-4 w-[300px]">
        <CardHeader className="text-center">Secrets Keeper</CardHeader>
      </Card>
    </main>
  </body>
</html>
